
  .background-layer{
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .upper-layer{
    background-color: green;
    width: 100%;
  }

  .bottom-layer{
    background-color: blue;
    width: 100%;
  }


  